
/* Your CSS Code here. */
.holder{
	width:200px;
	background-color:blue;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}
.items{
	width:40px;
	height:40px;
	background-color:red;
}